﻿.listBox {
    width: 59em;
    height: 5em;
}

.serviceTimeOptions, #serviceTimeLabel {
    float: left;
    clear: left;
}

.probResolutionOptions, #probResoulutionLabel {
    float: right;
    clear: right;
}

#serviceTimeLabel, #probResoulutionLabel, #techEfficiencyLabel, #commentLabel, #contactLabel, #methodLabel {
    font-weight: bold;
}

#techEfficiencyLabel {
    margin-left: 200px;
}

.probResolutionOptions, .techEfficiencyOptions, .serviceTimeOptions {
    width: 18em;
}

.techEfficiencyOptions {
    margin-left: 22em;
}

.serviceTimeOptions {
    margin-left: 1em;
}

#probResoulutionLabel {
    margin-right: 10em;
}

#commentLabel {
    float: right;
    margin-right: 22em;
    clear: right;
}

.commentBox {
    width: 20em;
    height: 9em;
    float: right;
    margin-right: 13em;
}

.contactChoice, #contactLabel{
    margin-right: 23em;
}



