﻿p {
    margin-top: 1.8em;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 10em;
    font-weight: bold;
}
.entry {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 12em;
}
.validator {
    color: yellow;
    margin-left: 1em;
}
.validator2 {
    color: red;
}
#btnAdd, #btnCancel {
    margin-top: .5em;
    width: 10em;
    margin-right: 5em;
}